.p-card-body,
.p-card-content,
.p-datatable {
  height: 100% !important;
}

.p-datatable-filter-constraint-dropdown {
  display: none !important;
}

.dialog-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1.5rem 0;
}

.dialog-footer {
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
}

.loading,
.error {
  display: flex;
  align-items: center;
  justify-content: center;
}

td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.p-datatable-thead {
  z-index: 2 !important;
}

.intern-datatable .p-datatable-thead {
  z-index: 1 !important;
}
